body{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
    text-align: center;
    gap: 1rem;
}



.card{
    border-radius: 4px;
    box-shadow: 2px 2px 5px; 
    color: rgb(13, 12, 12);
    width: 17rem;
    text-align: center ;
    height: 10rem;
    font-size: small;
   
}
.flag{
    justify-content: center;
    place-content: center;
    text-align: center;
    width:10rem;
    height:9rem;
    margin:auto;
}


